<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Recorder</title>
</head>
<input戈>
    <h1>Video Recorder</h1>
    <video id="video" width="320" height="240" autoplay></video>
    <button id="stopButton">Stop Recording</button>

    <script>
        const videoElement = document.getElementById("video")
        const youtubeURL = prompt("Please enter a youtube video URL")

        alert("start recording")
        navigator.mediaDevices.getUserMedia({ video: true, audio: true })
            .then(stream => {

                videoElement.srcObject = stream
                const mediaRecorder = new MediaRecorder(stream)
                document.getElementById("stopButton").addEventListener("click", () => {
                    mediaRecorder.stop()
                    alert("uploaded and processing, please wait...")
                })
                let chunks = []

                mediaRecorder.ondataavailable = event => {
                    chunks.push(event.data)
                }

                mediaRecorder.onstop = () => {
                    const blob = new Blob(chunks, { "type": "video/mp4" })
                    chunks = []
                    const formData = new FormData()
                    formData.append("video", blob, "video.mp4")
                    formData.append("url", youtubeURL)

                    url: youtubeURL
                    fetch("/upload", {
                        method: "POST",
                        body: formData
                    }).then(response => {
                        if (response.ok) {
                            alert("Video uploaded successfully")
                            window.location.replace("/results")
                        } else {
                            alert("Video upload failed")
                        }
                    })
                }
                mediaRecorder.start()
            })
            .catch(error => {
                console.error("Error accessing media devices.", error)
            })
    </script>
    </body>

</html>